
body{
  background: rgb(19, 19, 19);
  padding:0px;
}
.sidenav{
  position:fixed;
  height:100vh;
  padding:10px;
  display:flex;
  flex-direction: column;
  background-color: rgb(58, 58, 58);
  z-index: 2;
}
.sidenav a{
  color:white;
  padding:10px;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  font-size: x-large;
}
.sidenav a:hover{
  background-color: rgb(65, 65, 65);
}

/* ========================header======================== */
.header{
  padding:5px 0px 5px 100px;
  width:100%;
  display: flex;
  margin:0px;
  background-color: rgb(19, 19, 19);
  position:fixed;
  top:0;
  left:0;
  z-index: 1;
}
.logo h1{
  font-size: xx-large;
}
.header div{
  flex:1;
}
.header .logo{
  color:white;
}
.header .logo span{
  color:red;
  margin:0px 10px;
}
.header .search{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .search input{
  width:100%;
  background-color: transparent;
  border:solid 1px grey;
}
.search button{
  background-color: grey;
  border:solid 1px grey;
}
.header .util{
  display:flex;
  /* margin:0px 100px; */
  justify-content:end;
  align-items:center;
}
.header .util a{
  /* flex:1; */
  font-size: x-large;
  margin:0px 20px;

  text-decoration: none;
  color:white;
  text-align: center;

}
#menu-icon{
  padding:15px;
  text-align: center;
}
#menu-icon:hover{
  border-radius: 50%;
}

/* ==================main-page================ */
.main-page{
  display: flex;
  flex-wrap: wrap;
  padding:100px;
  z-index: -1;
}
.card{
  color:white;
  flex:1;
  margin:20px;
  width:200px;
  height:330px;
  background-color: rgb(48, 48, 48);
}
.card iframe{
  width:100%;
  height: 200px;
  margin-top:10px;  
}
.card-body p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:15px;
  font-weight: 600;
  position:relative;
  margin-bottom: 10px;
}
#time{
  font-size: medium;
  position:absolute;
  bottom:0;
  left:10;
  color:rgb(161, 161, 161);
}